<!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                        src="/images/OldFashioned_HERO_020520_619.jpg" alt="..." /></div>
                <div class="col-md-6">

                    <h1 class="display-5 fw-bolder">Old Fashioned</h1>
                    <div class="fs-5 mb-5">

                    </div>
                    <ul>
                        <li>1/2 teaspoon sugar</li>
                        <li>3 dashes Angostura bitters</li>
                        <li>1 teaspoon water</li>
                        <li>2 ounces bourbon</li>
                        <li>Garnish: orange peel</li>
                    </ul>
                   <ol>
                       <li>Add the sugar and bitters to a rocks glass, then add the water, and stir until the sugar is nearly dissolved.</li>
                       <li>Fill the glass with large ice cubes, add the bourbon, and gently stir to combine.</li>
                       <li>Express the oil of an orange peel over the glass, then drop in.</li>
                   </ol>
                    <div class="d-flex">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-heart-fill me-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    